<div class="one-item-in-check">
    <div class="item-name">
        <%= item.name%>
    </div>
    <div class="item-quantity">
        <span class="label label-info counts"><%= item.quantity%></span>
    </div>
</div>