<div class="one-item-check">
    <span class="i">Id admin:   </span>
    <span class="id_orders_item"><%= item.id%></span>
    <span class="q">Кількість проданих товарів:    </span>
    <span class="quantity"><%= item.quantity%></span>
</div>