<div class="info-order">
    <div class="info-about-user">
        Please check and confirm your order
    </div>
    <div class="user-surname">
        <%= info.surname%>
    </div>
    <div class="user-name">
        <%= info.name%>
    </div>
    <div class="user-email">
        <%= info.email%>
    </div>
    <div class="user-phone">
        <%= info.phone%>
    </div>
    <div class="deliver-place">
        Select post office
        <select class="form-control post-office">
            <option>№1 Великий вал 5</option>
            <option>№130 Цвєтаєвої 32</option>
            <option>№179 Харківське шосе 17</option>
            <option>№101 Академська 3</option>
        </select>
    </div>
</div>